/*=========================================
                JOURNEY
=========================================*/

.journey{

padding:120px 0;

}

.timeline{

position:relative;

max-width:900px;

margin:auto;

}

.timeline::before{

content:"";

position:absolute;

left:50%;

top:0;

width:3px;

height:100%;

background:#2563EB;

transform:translateX(-50%);

}

.timeline-item{

position:relative;

width:50%;

padding:25px 45px;

}

.timeline-item.left{

left:0;

text-align:right;

}

.timeline-item.right{

left:50%;

}

.timeline-card{

background:rgba(255,255,255,.05);

padding:25px;

border-radius:18px;

border:1px solid rgba(255,255,255,.08);

transition:.4s;

}

.timeline-card:hover{

transform:translateY(-6px);

border-color:#3B82F6;

}

.timeline-year{

color:#3B82F6;

font-weight:700;

margin-bottom:10px;

font-size:18px;

}

.timeline-title{

font-size:22px;

margin-bottom:8px;

}

.timeline-description{

line-height:1.7;

color:#C5C5D2;

}