/* ===========================
   NAVBAR
=========================== */

.header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

padding:20px 0;

transition:var(--transition);

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

display:flex;

align-items:center;

gap:12px;

}

.logo-icon{

width:55px;

height:55px;

background:linear-gradient(
135deg,
var(--primary-color),
var(--secondary-color)
);

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:700;

font-size:18px;

box-shadow:var(--box-shadow);

}

.logo-text{

font-size:20px;

font-weight:700;

color:var(--heading-color);

font-family:var(--heading-font);

}

.nav-links{

display:flex;

gap:35px;

}

.nav-links a{

color:var(--text-color);

font-weight:500;

transition:var(--transition);

position:relative;

}

.nav-links a:hover{

color:var(--primary-color);

}

.resume-btn{

padding:12px 28px;

background:var(--primary-color);

color:white;

border-radius:50px;

transition:var(--transition);

font-weight:600;

}

.resume-btn:hover{

transform:translateY(-3px);

box-shadow:var(--box-shadow);

}

.menu-btn{

display:none;

font-size:28px;

color:white;

cursor:pointer;

}