/*==============================
        PROJECTS
==============================*/

.projects{

padding:120px 0;

}

.section-title{

text-align:center;

margin-bottom:70px;

}

.section-title h2{

font-size:48px;

color:var(--heading-color);

margin-bottom:15px;

}

.section-title p{

max-width:700px;

margin:auto;

line-height:1.8;

}

.project-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}
.project-card{

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

padding:30px;

transition:.4s;

backdrop-filter:blur(15px);

display:flex;

flex-direction:column;

gap:20px;

}

.project-card:hover{

transform:translateY(-10px);

border-color:#3B82F6;

box-shadow:0 20px 50px rgba(37,99,235,.25);

}

.project-top{

display:flex;

justify-content:space-between;

align-items:center;

}

.project-category{

color:#3B82F6;

font-weight:600;

}

.featured-badge{

background:#2563EB;

padding:6px 12px;

border-radius:30px;

font-size:13px;

}

.project-tech{

display:flex;

flex-wrap:wrap;

gap:10px;

}

.project-tech span{

padding:6px 12px;

background:rgba(59,130,246,.15);

border-radius:20px;

font-size:13px;

}

.project-buttons{

display:flex;

justify-content:space-between;

margin-top:auto;

}

.github-btn,

.case-btn{

padding:10px 18px;

border-radius:30px;

transition:.3s;

}

.github-btn{

background:#2563EB;

color:white;

}

.case-btn{

border:1px solid #2563EB;

color:white;

}

.github-btn:hover,

.case-btn:hover{

transform:translateY(-3px);

}
.project-controls{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:50px;

gap:25px;

flex-wrap:wrap;

}

#search-project{

flex:1;

padding:15px 22px;

background:rgba(255,255,255,.05);

border:none;

border-radius:50px;

color:white;

font-size:16px;

}

.filter-buttons{

display:flex;

gap:12px;

flex-wrap:wrap;

}

.filter-btn{

padding:10px 18px;

border:none;

border-radius:30px;

background:rgba(255,255,255,.05);

color:white;

cursor:pointer;

transition:.3s;

}

.filter-btn:hover,

.filter-btn.active{

background:#2563EB;

}