@import url("variables.css");
/*==========================
BACK TO TOP
==========================*/

#topBtn{

position:fixed;

bottom:35px;

right:35px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:var(--primary-color);

color:white;

cursor:pointer;

display:none;

box-shadow:var(--box-shadow);

transition:.35s;

z-index:999;

}

#topBtn:hover{

transform:translateY(-5px);

}

#topBtn.show{

display:block;

}
/*=========================
        RESET
==========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--text-color);

font-family:var(--body-font);

overflow-x:hidden;

}

/*=========================
      GLOBAL
==========================*/

.container{

width:min(1300px,92%);

margin:auto;

}

section{

padding:120px 0;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

button{

cursor:pointer;

font-family:inherit;

}
/*==========================
SCROLL PROGRESS BAR
==========================*/

#progress-bar{

position:fixed;

top:0;

left:0;

height:4px;

width:0;

background:linear-gradient(90deg,#2563EB,#38BDF8);

z-index:9999;

transition:.15s;

}