/* =====================================================
   AI ENGINEER PORTFOLIO
   Muhammad Hanzala Khan
   Design System
===================================================== */

:root {

/*=========================
    COLORS
==========================*/

--primary-color:#3B82F6;
--secondary-color:#06B6D4;
--accent-color:#60A5FA;

/*=========================
    BACKGROUND
==========================*/

--background:#050816;
--background-light:#0B1120;
--card-color:#111827;

/*=========================
    TEXT
==========================*/

--heading-color:#F8FAFC;
--text-color:#CBD5E1;
--white:#FFFFFF;

/*=========================
    BORDER
==========================*/

--border-color:rgba(255,255,255,.08);

/*=========================
    SHADOW
==========================*/

--box-shadow:0 0 35px rgba(59,130,246,.18);

/*=========================
    BORDER RADIUS
==========================*/

--radius:18px;

/*=========================
    TRANSITION
==========================*/

--transition:.35s ease;

/*=========================
    FONT
==========================*/

--heading-font:'Space Grotesk',sans-serif;
--body-font:'Inter',sans-serif;

}